:root {
    font-family: var(--groupui-sys-font-family-primary);
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: black;
    background-color: white;

    height: 100vh;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --color-header: #002733;
    --color-bg: white;
    --color-button: #008075;
}

html,
body {
    padding: 0;
    margin: 0;
}

.groupui-button {
    background-color: var(--color-button);
    border-radius: 99px;
    padding: 20px 8px;
}

* {
    box-sizing: border-box;
}
